/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */

:root {
  /** primary **/
  --ion-color-primary: #00B4D8;
  --ion-color-primary-rgb: 0, 180, 216;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #009eb0;
  --ion-color-primary-tint: #1acce8;

  /** secondary **/
  --ion-color-secondary: #FFB703;
  --ion-color-secondary-rgb: 255, 183, 3;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #e0a103;
  --ion-color-secondary-tint: #ffbe1c;

  /** tertiary **/
  --ion-color-tertiary: #023047;
  --ion-color-tertiary-rgb: 2, 48, 71;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #022a3e;
  --ion-color-tertiary-tint: #1b4559;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** app background **/
  --ion-background-color: #ffffff;
  --ion-background-color-rgb: 255, 255, 255;

  --ion-text-color: #0f172a;
  --ion-text-color-rgb: 15, 23, 42;

  --ion-item-background: #ffffff;
  --ion-card-background: #ffffff;
}

/* Dark Mode Support */
@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #00B4D8;
    --ion-color-primary-rgb: 0,180,216;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #009eb0;
    --ion-color-primary-tint: #1acce8;

    --ion-color-secondary: #FB8500;
    --ion-color-secondary-rgb: 251,133,0;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #dd7500;
    --ion-color-secondary-tint: #fc911a;

    --ion-color-tertiary: #8ECAE6;
    --ion-color-tertiary-rgb: 142,202,230;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0,0,0;
    --ion-color-tertiary-shade: #7db2ca;
    --ion-color-tertiary-tint: #99cfe9;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47,223,117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255,213,52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255,73,97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244,245,248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34,36,40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #1e293b;
    --ion-color-step-100: #334155;
    --ion-color-step-150: #475569;
    --ion-color-step-200: #64748b;
    --ion-color-step-250: #94a3b8;
    --ion-color-step-300: #cbd5e1;
    --ion-color-step-350: #e2e8f0;
    --ion-color-step-400: #f1f5f9;
    --ion-color-step-450: #f8fafc;
    --ion-color-step-500: #ffffff;
    --ion-color-step-550: #f8fafc;
    --ion-color-step-600: #f1f5f9;
    --ion-color-step-650: #e2e8f0;
    --ion-color-step-700: #cbd5e1;
    --ion-color-step-750: #94a3b8;
    --ion-color-step-800: #64748b;
    --ion-color-step-850: #475569;
    --ion-color-step-900: #334155;
    --ion-color-step-950: #1e293b;

    --ion-item-background: #1e293b;

    --ion-card-background: #1e293b;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

/* change the background color if you want to */
  .md body {
    --ion-background-color: #0f172a; 
    --ion-background-color-rgb: 15,23,42;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #334155;

    --ion-color-step-50: #1e293b;
    --ion-color-step-100: #334155;
    --ion-color-step-150: #475569;
    --ion-color-step-200: #64748b;
    --ion-color-step-250: #94a3b8;
    --ion-color-step-300: #cbd5e1;
    --ion-color-step-350: #e2e8f0;
    --ion-color-step-400: #f1f5f9;
    --ion-color-step-450: #f8fafc;
    --ion-color-step-500: #ffffff;
    --ion-color-step-550: #f8fafc;
    --ion-color-step-600: #f1f5f9;
    --ion-color-step-650: #e2e8f0;
    --ion-color-step-700: #cbd5e1;
    --ion-color-step-750: #94a3b8;
    --ion-color-step-800: #64748b;
    --ion-color-step-850: #475569;
    --ion-color-step-900: #334155;
    --ion-color-step-950: #1e293b;

    --ion-item-background: #1e293b;

    --ion-toolbar-background: #1e293b;

    --ion-tab-bar-background: #1e293b;

    --ion-card-background: #1e293b;
  }
}

